/*
*  require assignCommon
*= require_self
*  require ../skin/clndr-cces
*/
table.dataTable thead tr th.control,
table.dataTable tbody tr td.control {
  min-width: 76px;
}

.projectContainer, .constNoContainer, .monthContainer {
  max-width: 320px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.projectContainer .glyphicon-info-sign {
  top: 0;
  border-left-width: 0;
}

.workerContainer {
  max-width: 310px;
  padding-left: 0;
  padding-top: 10px;
}
/*
.projectContainer label, .constNoContainer label, .monthContainer label, .workerContainer label {
  float: left;
  margin-right: 5px;
}*/
/*
@media screen and (max-width: 404px) {
}*/
/*
#list-assignment_info.dataTables_info {
  padding-top: 0px;
}

#list-assignment_info .head {
  padding: 5px;
  border: 1px dashed gray;
  border-radius: 4px;
}

#list-assignment_info .foot {
  font: 12px/1.42857143 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 2.75em;
  right: 1em;
}*/
