/*
*= require ../grid
*= require_self
*/

.assignLoad {
  margin: 8px 0 0 5px;
}

.box .box-header {
  padding-bottom: 8px;
}

.monthContainer, .workerContainer {
  max-width: 18em;
  padding-left: 5px;
  margin-bottom: 5px;
}

.workerContainer label {
  margin-top: 0;
}

@media screen and (max-width: 479px) {
  .workerContainer .input-group {
    min-width: 14.75em;
  }
}
