/*
*= require ../picture
*= require_self
*/

#list-certificate_wrapper .dataTable tr td:nth-child(2),
#list-certificate_wrapper .dataTable tr td:nth-child(2) form,
#list-certificate_wrapper .dataTable tr td:nth-child(2) input {
  min-width: 100px;
}

#certificateForm .col-xs-6 {
  padding-left: 0;
}

#certificateForm .input-group {
  margin-bottom: 12px;
}
