/*
*= require ../bootstrap
*= require ../font-awesome
*= require ../plugins/bootstrap-jasny
*/
.fileinput .thumbnail {
  margin-bottom: 0;
}
.fileinput-new.thumbnail,
.fileinput-exists.thumbnail,
.fileinput-preview.thumbnail {
  padding: 0;
  width: 44px;
  height: 44px;
}
