/*
*= require_self
*/
.projectContainer {
    max-width: 320px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.dateContainer {
    padding-left: 5px;
    margin-bottom: 5px;
}
@media screen and (max-width: 428px) {
  .input-group.workedDate {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .input-group.workedDate {
    width: 100%;
  }
}
