/*
*= require_self
*/
.projectContainer {
    max-width: 320px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.projectContainer .glyphicon-info-sign {
    top: 0;
    border-left-width: 0;
}
.dateContainer {
    padding-left: 5px;
    margin-bottom: 5px;
}
label[for=workedDate] {
  color: #a94442;
}
@media screen and (max-width: 428px) {
  .input-group.workedDate {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .input-group.workedDate {
    width: 100%;
  }
}
