/*
*= require_self
*/
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

div.dataTables_info span.small {
  font-size: 0.75em;
  transform: translateY(60%);
}
/*
.bootstrap-dialog .wrapper,
.bootstrap-dialog .container {
  width: inherit;
  padding: 0;
  border-radius: 4px;
  background-color: inherit;
}

.panel .content {
  padding-top: 0;
  padding-bottom: 0;
}

.panel input[type=checkbox] {
  opacity: 0;
  position: absolute;
  z-index: 12;
  left: 0;
}
*/

#list-user tr td:nth-child(4) i.fa :nth-child(1) {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bootstrap-select.btn-group button.dropdown-toggle {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.bootstrap-select.btn-group,
.bootstrap-select.btn-group .dropdown-menu li {
  margin-left: 5px;
  display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.bootstrap-select.btn-group .dropdown-menu.open {
  top: -0.75em;
  left: 2.5em;
  border: dashed 1px;
}

.bootstrap-select.btn-group .dropdown-menu > li > a {
  display: inline-block;
  padding-right: 2px;
  padding-left: 8px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  float: right;
  margin-right: 12px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: inherit;
  margin-right: 3px;
}
