/*
*= require ../picture
*= require_self
*/
.content {
  min-height: 520px !important;
}

#workerForm .col-xs-6 {
  padding-left: 0;
}

.employedDate > input {
	/*font-weight: bold;*/
  color: blue;
}

table.dataTable thead tr th.control,
table.dataTable tbody tr td.control {
  min-width: 76px;
}
