<div class="clndr-controls hidden-xs">
    <div class="week-previous btn btn-sm"><i class="fa fa-arrow-left"/> <%= intervalStart.subtract(1, 'day').format('MM/DD') %></div>
    <div class="week-current btn btn-sm btn-default">&nbsp;回本週&nbsp;</div>
    <div class="week-next btn btn-sm"><%= intervalEnd.add(1, 'day').format('MM/DD') %> <i class="fa fa-arrow-right"/></div>
</div>
<div class="clndr-grid">
    <div class="week-previous visible-xs vcenter pull-left btn btn-default"><i class="fa fa-arrow-left"/><br><%= intervalStart.format('MM/DD') %></div>
    <div class="days-of-the-week vcenter pull-left">
        <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
        <% }); %>
        <div class="days">
        <% _.each(days, function(day) { %>
            <div class="<%= day.classes %>" tabindex="-1"><%= day.day %></div>
        <% }); %>
        </div>
    </div>
    <div class="week-next visible-xs vcenter pull-left btn btn-default"><span class="pull-right"><i class="fa fa-arrow-right"/><br><%= intervalEnd.format('MM/DD') %></span></div>
</div>
