<fieldset class="dt-buttons btn-group">
	<input class="btn btn-default" type="button" value="重查" disabled></input>
	<input class="btn btn-default" type="button" value="取消" disabled></input>
</fieldset>
<fieldset class="dt-buttons btn-group pull-right">
	<a class="btn btn-default last-month" title="上月"><i class="fa fa-arrow-left"></i></a>
	<a class="btn btn-default next-month" title="下月"><i class="fa fa-arrow-right"></i></a>
</fieldset>
<label class="text-danger small pull-right">點選當日可進行派工</label>
<div class="header">
  <% _.each(daysOfTheWeek, function(day) { %>
	<div class="day"><%= day %></div>
  <% }); %>
</div>
<div class="days">
  <% _.each(days, function(day) { %>
	  <%if (day.day) {%>
		<div class="<%= day.classes %> btn btn-default"><%= day.day %>:<br></div>
	  <%} else {%>
		<div class="<%= day.classes %>"><%= day.day %></div>
	  <%}%>
  <% }); %>
</div>
